<header class="navbar navbar-fixed-top navbar-default" id=header>
  <div class="container">
    <%= link_to "Task App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navber-right navi">
        <li class="list"><%= link_to "トップ", root_path, class: "header-list"%></li>
        <% if logged_in? %>
          <li class="list"><%= link_to "利用者一覧", '#', class: "header-list"%></li>
          <li class="list"><%= link_to "タスク作成", '#', class: "header-list" %></li>
          <li class="dropdown ">
            <a href="#" class="dropdown-toggle header-list" data-toggle="dropdown" id="dropdown-title"  >
              <%= @current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">ユーザー</li>
              <li class="list"><%= link_to "プロフィール", current_user, class: "dropdown-item" %></li>
              <li class="list"><%= link_to "設定", '#', class: "dropdown-item" %></li>
              <li class="dropdown-header">タスク</li>
              <li class="list"><%= link_to "タスク一覧", '#', class: "dropdown-item" %></li>
              <li class="divider"></li>
              <li class="list"><%= link_to "ログアウト", logout_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="list"><%= link_to "ログイン", login_path, class: "header-list"%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
